<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- 导航栏菜单栏 -->
<th:block th:fragment="nav-right">
    <div id="nav-right" class="header-controls absolute  right-0 flex flex-row"
         tabindex="0" style="z-index:999;right: -40px;width: 140px; top:0.5em">
        <span class="ob-drop-shadow" data-dia="search" onclick="window.location.href='/search?type=search&title=&page=1&size=12'">
    <i class="roozenfont roozen-magnifying-glass" style="font-size: x-large"></i>
    &nbsp;
</span>
        <div class="dropdown" style="position: relative;">
            <button class="dropbtn" id="theme-toggle-btn" style="font-size: x-large; padding: 0; background: none; border: none;">
                <i class="roozenfont roozen-bars" style="color: white;font-size: x-large"></i>
            </button>

            <div class="dropdown-content" id="dropdown-content" style="display: none; position: absolute; right: 0; width: 150px; background-color: #fff; border: 1px solid #ccc; box-shadow: 0 8px 16px rgba(0,0,0,0.2);">
                <ul th:with="menu = ${#strings.isEmpty(theme.config.nav.menu) ? menuFinder.getPrimary() : menuFinder.getByName(theme.config.nav.menu)}">
                    <li sec:authorize="isAnonymous()"><a href="/signup" style="display: block; padding: 8px 16px; text-decoration: none; color: #000;">注册</a></li>
                    <li sec:authorize="isAnonymous()"><a href="/login" style="display: block; padding: 8px 16px; text-decoration: none; color: #000;">登录</a></li>
                    <li><a href="#" id="theme-toggle-link" style="display: block; padding: 8px 16px; text-decoration: none; color: #000;">夜间模式</a></li>
                    <li sec:authorize="isAuthenticated()"><a href="/uc" style="display: block; padding: 8px 16px; text-decoration: none; color: #000;">个人中心</a></li>
                    <li><a href="/search?page=1&size=12&title=&type=hot" style="display: block; padding: 8px 16px; text-decoration: none; color: #000;">热门影片</a></li>
                    <li sec:authorize="isAuthenticated()"><a href="/favo?page=1&size=12" style="display: block; padding: 8px 16px; text-decoration: none; color: #000;">我的收藏</a></li>
                    <li th:each="menuItem : ${menu.menuItems}">
                        <a th:href="@{${menuItem.status.href}}" style="display: block; padding: 8px 16px; text-decoration: none; color: #000;" th:text="${menuItem.status.displayName}"></a>
                    </li>
                    <li sec:authorize="isAuthenticated()"><a href="/logout" style="display: block; padding: 8px 16px; text-decoration: none; color: #000;">登出</a></li>
                </ul>
            </div>
        </div>
        <script>
            document.getElementById("theme-toggle-btn").addEventListener("click", (e) => {
                e.stopPropagation();
                const dropdownContent = document.getElementById("dropdown-content");
                dropdownContent.style.display = dropdownContent.style.display === "none" ? "block" : "none";
            });

            document.addEventListener("click", (e) => {
                const dropdownContent = document.getElementById("dropdown-content");
                if (dropdownContent.style.display === "block" && !dropdownContent.contains(e.target)) {
                    dropdownContent.style.display = "none";
                }
            });

            let body_class = document.body.classList;
            let app_class = document.getElementById("App-Wrapper").classList;
            let app_container = document.getElementById("App-Container");
            let data_theme = localStorage.getItem('data-theme')
            document.getElementById("theme-toggle-link").textContent = data_theme === 'dark' ? '白天模式' : '夜间模式';

            function changeDataTheme(theme) {
                if (theme === 'dark') {
                    document.documentElement.setAttribute('data-theme', 'dark')
                    localStorage.setItem('data-theme', 'dark')
                    body_class.remove('theme-light')
                    body_class.add('theme-dark');
                    app_class.remove('theme-light')
                    app_class.add('theme-dark');
                    app_container.style = "overflow:hidden; --text-accent: #24c6dc; --text-sub-accent: #ff0099; --main-gradient: linear-gradient(130deg, #24c6dc, #5433ff 41.07%, #ff0099 76.05%);"
                    document.getElementById("theme-toggle-link").textContent = '白天模式';
                } else {
                    document.documentElement.setAttribute('data-theme', 'light')
                    localStorage.setItem('data-theme', 'light')
                    body_class.remove('theme-dark')
                    body_class.add('theme-light');
                    app_class.remove('theme-dark')
                    app_class.add('theme-light');
                    app_container.style = "overflow:hidden; --text-accent: #ff0099; --text-sub-accent: #5433ff; --main-gradient: linear-gradient(130deg, #24c6dc, #5433ff 41.07%, #ff0099 76.05%);"
                    document.getElementById("theme-toggle-link").textContent = '夜间模式';
                }
                btf.dataCodeTheme()
            }

            document.getElementById("theme-toggle-link").addEventListener("click", e => {
                e.preventDefault();
                let currentTheme = localStorage.getItem('data-theme');
                let newTheme = currentTheme === 'dark' ? 'light' : 'dark';
                changeDataTheme(newTheme);
            });

            changeDataTheme(data_theme);
        </script>
        <script th:src="@{/assets/js/day-night-toggle-button.js}"></script>
    </div>
</th:block>
</html>