<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: html(htmlType = '500', content = ~{::content}, title = 'Page Not Found')}"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="content">
    <!-- 统一导航 -->
    <th:block th:replace="~{macro/app-banner :: app-banner(img=${theme.config.top.tag_img})}"/>
    <link rel="stylesheet" th:href="@{/assets/css/error.css}">
    <div class="relative z-10">
        <div class="flex flex-col mt-20">
            <!-- 面包屑 -->
            <div class="post-header">
                <ul class="breadcrumbs flex flex-row gap-6 text-white">
                    <li th:text="'首页'"></li>
                    <li id="breadcrumb-title" th:text="'页面未找到'"></li>
                </ul>
                <div class="inner-content">
                    <h1 class="heading">500</h1>
                    <p class="subheading">页面已经被移动, 浏览点别的内容吧.</p>
                    <p class="subheading">也可以点击上面联系我</p>
                </div>

            </div>
        </div>
    </div>

    <script>
        setTimeout(function() {
            window.location.href = '/';
        }, 2000); // Redirect after 1 seconds
    </script>
</th:block>
</html>