<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layout :: html(htmlType = 'tag',content = ~{::content},title = ${'搜索' + ' | ' + site.title})}">
<th:block th:fragment="content">
    <!-- 统一导航 -->
    <th:block th:replace="~{macro/app-banner :: app-banner(img=${theme.config.top.tag_img})}"/>

    <div class="relative z-10">
        <div class="flex flex-col mt-20">
            <!-- 面包屑 -->
            <div class="post-header">
                <ul class="breadcrumbs flex flex-row gap-6 text-white">
                    <li th:text="'首页'"></li>
                    <li id="breadcrumb-title" th:text="'我的收藏'"></li>
                </ul>
                <h1 id="page-title" th:text="'我的收藏'" class="post-title text-white uppercase"></h1>
            </div>


            <div th:with="page=${param.page != null ? T(java.lang.Integer).parseInt(param.page) : 1},
              size=${param.size != null && param.size.size() > 0 ? (T(java.lang.Integer).parseInt(param.size[0]) > 12 ? 12 : T(java.lang.Integer).parseInt(param.size[0])) : 12}">
                    <div th:if="${posts.total == 0}" style="text-align: center;">
                        <p><strong>暂无内容.赶紧去收藏吧 !</strong></p>
                    </div>
                    <ul id="post-cols" th:class="${'grid grid-cols-2 gap-8'}">
                        <th:block th:each="post : ${posts.items}">
                            <th:block th:replace="~{macro/post-card :: post-card(${post.spec.pinned},${post})}"/>
                        </th:block>
                    </ul>
                    <!-- Add pagination logic -->
                    <div class="paginator">
                        <ul>
                            <a th:if="${posts.page > 1}" th:href="@{'/favo?page=' + (${posts.page} - 1) + '&size=' + ${size}}">
                                <li class="text-ob-bright">
                                    <svg class="svg-icon">
                                        <use href="#icon-arrow-left" fill="currentColor" stroke="var(--background-primary)"></use>
                                    </svg>
                                    上页
                                </li>
                            </a>

                            <!-- Page number buttons -->
                            <th:block th:if="${posts.page > 3}">
                                <a class="page-number" th:href="@{'/favo?page=1&size=' + ${size}}">
                                    <li th:text="1"></li>
                                </a>
                                <li th:if="${posts.page != 4}">…</li>
                            </th:block>

                            <th:block th:each="index : ${#numbers.sequence(posts.page - 2, posts.page + 2)}">
                                <li class="active" th:if="${posts.page == index}" th:text="${posts.page}"></li>
                                <a th:unless="${posts.page == index}" th:if="${index > 0 && index <= T(java.lang.Math).ceil((posts.total + size - 1) / size)}"
                                   th:href="@{'/favo?page=' + ${index} + '&size=' + ${size}}">
                                    <li th:text="${index}"></li>
                                </a>
                            </th:block>

                            <th:block th:if="${T(java.lang.Math).ceil((posts.total + size - 1) / size) - posts.page > 2}">
                                <li th:if="${T(java.lang.Math).ceil((posts.total + size - 1) / size) - posts.page != 3}">…</li>

                                <th:block th:with="totalPages=${(T(java.lang.Math).ceil((posts.total + size - 1) / size)).intValue()}">
                                    <a th:href="@{'/favo?page=' + ${totalPages} + '&size=' + ${size}}">
                                        <li th:text="${totalPages}"></li>
                                    </a>
                                </th:block>

                            </th:block>

                            <a th:if="${posts.page < T(java.lang.Math).ceil((posts.total + size - 1) / size)}"
                               th:href="@{'/favo?page=' + (${posts.page} + 1) + '&size=' + ${size}}">
                                <li class="text-ob-bright">下页
                                    <svg class="svg-icon">
                                        <use href="#icon-arrow-right" fill="currentColor" stroke="var(--background-primary)"></use>
                                    </svg>
                                </li>
                            </a>
                        </ul>
                    </div>

            </div>
        </div>
    </div>

    <style>
        #post-cols {
            display: grid;
            gap: 8px;
        }

        /* Default for mobile: 2 columns */
        @media (max-width: 600px) {
            #post-cols {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        /* For tablets: 3 columns */
        @media (min-width: 601px) and (max-width: 1024px) {
            #post-cols {
                grid-template-columns: repeat(3, 1fr);
            }
        }

        /* For desktops: 4 columns */
        @media (min-width: 1025px) {
            #post-cols {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    </style>
</th:block>
</html>